.leaders__card {
    box-sizing: border-box;
    max-width: 100%;
}
.leaders__card i {
    padding: 0 1em 0 0;
}
.leaders__image {
    position: relative;
}
.leaders__name {
    font-family: var(--ff-main);
    font-weight: bold;
    margin: 0;
}
.leaders__title {
    margin: 0 0 10px 0;
}
@media screen and (max-width: 950px) {
    .leaders__image {
        max-width: 300px;
    }
}
@media screen and (max-width: 1050px) {
    .leaders__image {
        max-width: 300px;
    }
}