.projects__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 6rem;
}
.projects__title {
    font-family: var(--ff-main);
    font-weight: bold;
    font-size: calc(1rem + 2vw);
}
.projects__button {
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    background-color: var(--very-dark-blue);
    border: none;
    font-family: var(--ff-main);
}
.projects__button img {
    filter: invert(100%);
    padding: 0 0 0 1em;
}
.projects__card-container {
    width: 100%;
}