.projects__card-container {
    width: 80%;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    height: 500px;
}
.projects__nav {
    width: 80%;
    margin: 6rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__title {
    font-family: var(--ff-main);
    font-weight: bold;
    font-size: calc(1rem + 2vw);
}
.projects__button {
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    background-color: var(--very-dark-blue);
    border: none;
    font-family: var(--ff-main);
}
.projects__button img {
    filter: invert(100%);
    padding: 0 0 0 1em;
}
@media screen and (max-width: 950px) {
    .projects__card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;
        gap: 0;
    }
}
